* {
  box-sizing: border-box;
}

html {
  max-width: 1280px;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  text-align: center;
}

.mainImg {
  font-size: 5rem;
}
form {
  background: linear-gradient(
    pink,
    rgba(128, 0, 128, 0.492),
    rgba(165, 42, 42, 0.678)
  );
  width: 40%;
  border-radius: 2vh;
  display: flex;
  box-shadow: 10px 10px #61dafbaa;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 60%;

  .inputForom {
    display: flex;
    flex-direction: row;
    width: 60%;
    justify-content: center;
    align-items: center;
    gap: 2%;
    input {
      border-radius: 2vh;
      border: 2px solid #609;
      padding: 2%;
      width: 60%;
      height: 80%;
    }
    label {
      width: 20%;
      text-align: center;
    }
  }
  .foromTitle {
    width: 100%;
    justify-content: center;
    gap: 2%;
    display: flex;
    flex-direction: row;
  }
}

button {
  width: 30%;
  height: 7%;
  margin-left: 8%;
  border-radius: 2vh;
  border: 2px solid #609;
  background-color: #b3f4ff;
  text-align: center;
}
button:hover {
  background-color: #61dafbc7;
}

.main {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;

  .explenation {
    width: 55%;
    height: 100%;
    background: linear-gradient(90deg, #61dafbaa, white);
    padding: 10vh 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .mainTitle {
    font-family: "Russo One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
}
.VotingPage {
  background: linear-gradient(90deg, #61dafbaa, white);
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  button {
    margin-top: 2%;
    width: 10%;
    border-radius: 2vh;
    box-shadow: 10px 10px #61dafbaa;
  }
  button:hover {
    background-color: #30a6bb;
  }
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.CandidateCard {
  background: linear-gradient(
    pink,
    rgba(128, 0, 128, 0.492),
    rgba(165, 42, 42, 0.678)
  );
  width: 20%;
  height: 90%;
  padding: 4%;
  border-radius: 2vh;
  box-shadow: 10px 10px #61dafbaa;
  button {
    width: 100%;
    height: 30%;
    box-shadow: none;
  }
  .icon {
    font-size: 3rem;
  }
  h1 {
    border-bottom: none;
  }
}

@media screen and (max-width: 600px) {
  .main {
    flex-direction: column;
    overflow: hidden;
    background: linear-gradient(90deg, #61dafbaa, white, #61dafbaa);
    height: 100vh;
  }

  .explenation {
    width: 90vw;
    margin-bottom: 5%;
    border-radius: 2vh;
    box-shadow: 5px 5px #61dafbaa;
    padding: 5%;
  }

  .row {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  form {
    width: 90%;
    padding: 2%;
    .inputForom {
      width: 60%;
      gap: 2%;
      input {
        border-radius: 2vh;
        padding: 2%;
        width: 60%;
        height: 80%;
      }
      label {
        width: 50%;
        text-align: center;
      }
    }
  }

  .CandidateCard {
    width: 50%;
    height: 100%;
    padding: 4%;
    margin: 2%;
    border-radius: 2vh;
    box-shadow: 10px 10px #61dafbaa;
    button {
      width: 80%;
      height: 20%;
      box-shadow: none;
    }
  }
  #Logout {
    width: 40%;
    padding: 2%;
    margin: 2%;
  }

  .VotingPage {
    overflow-y: auto;
    height: 100vh;
  }
}
.popup-container {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 300px;
  margin: auto;
}

.popup-title {
  font-size: 24px;
  color: #d9534f;
  margin-bottom: 10px;
}

.popup-message {
  font-size: 16px;
  color: #555;
  margin-bottom: 20px;
}

.popup-close {
  color: black;
  padding: 10px 15px;
  font-size: 14px;
  cursor: pointer;
}
